{%extends 'base/base.html'%}

{%block title%}Compra #{{factura.cod_factura}} finalizada{%endblock%}

{%block header%}
{%include 'base/navegacion.html'%}
{%endblock%}


{%block content%}

<div class="container mx-auto px-10 pt-20">
    <div class="lg:pt-6 lg:pr-8 lg:pb-16">
        <!-- Description and details -->
         <div class="mt-4">
            <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">Gracias por tu compra!</h1>
         </div>
        <div class="flex mt-10 h-full flex-col overflow-y-scroll bg-white shadow-xl">

            <div class="flex-1 overflow-y-auto px-4 py-6 sm:px-6">
                <!-- <div class="flex items-start justify-between">
                <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">Shopping cart</h2> 
                <div class="ml-3 flex h-7 items-center">
                  <button type="button" class="relative -m-2 p-2 text-gray-400 hover:text-gray-500">
                    <span class="absolute -inset-0.5"></span>
                    <span class="sr-only">Close panel</span>
                    <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>
                  </button>
                </div>
              </div> -->
                <div class="">
                    <div class="flow-root">
                        <ul role="list" class="-my-6 divide-y divide-gray-200">
                            {%for detalle in factura.detalles%}
                            <li class="flex py-6">
                                <div class="size-24 shrink-0 overflow-hidden rounded-md border border-gray-200">
                                    <img src="{{detalle.producto.imagen_url}}"
                                        alt="Salmon orange fabric pouch with match zipper, gray zipper pull, and adjustable hip belt."
                                        class="size-full object-cover">
                                </div>

                                <div class="ml-4 flex flex-1 flex-col">
                                    <div>
                                        <div class="flex justify-between text-base font-medium text-gray-900">
                                            <h3>
                                                <a href="/productos/{{detalle.producto.id}}">{{detalle.producto.nombre}}</a>
                                            </h3>
                                            <p class="ml-4">{{detalle.total}} Gs.</p>
                                        </div>
                                        <!-- <p class="mt-1 text-sm text-gray-500">Salmon</p> -->
                                    </div>
                                    <div class="flex flex-1 items-end justify-between text-sm">
                                        <p class="text-gray-500">Cantidad: {{detalle.cantidad}}</p>

                                        <!-- <div class="flex">
                                            <button type="button"
                                                class="font-medium text-indigo-600 hover:text-indigo-500">Eliminar</button>
                                        </div> -->
                                    </div>
                                </div>
                            </li>
                            {%endfor%}

                            {%if factura.detalles|length == 0%}

                            <li class="text-center text-gray-700 text-2xl font-medium py-6">
                                No hay productos en el carrito
                            </li>

                            {%endif%}



                            <!-- More products... -->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="border-t border-gray-200 px-4 py-6 sm:px-6">
                <div class="space-y-2 font-medium">
                    <h3 class="text-gray-900">Detalles</h3>
                    <div class="flex mt-4 justify-between">
                        <p class="text-gray-500">Subtotal</p>
                        <p class="">{{factura.total_factura}} Gs.</p>
                    </div>
                    <div class="flex justify-between">
                        <p class="text-gray-500">Impuestos 10%</p>
                        <p class="">{{impuesto}} Gs.</p>
                    </div>
                    <div class="flex justify-between">
                        <p class="text-gray-500">Envio</p>
                        <p class="">0 Gs.</p>
                    </div>

                </div>
                <div class="mt-4 border-t py-4 flex justify-between border-gray-200">
                    <p class="text-3xl tracking-tight text-gray-900">Total</p>
                    <p class="text-3xl tracking-tight text-gray-900">{{ factura.total_factura }} Gs.</p>

                </div>

            </div>
        </div>

    </div>
</div>
{%endblock%}