<header class="absolute inset-x-0 top-0 z-50">
        <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
            <div class="flex lg:flex-1">
                <a href="#" class="-m-1.5 p-1.5">
                    <span class="sr-only">Your Company</span>
                    <img class="h-8 w-auto"
                        src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600" alt="">
                </a>
            </div>
            <div class="flex lg:hidden">
                <button type="button"
                    class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                    <span class="sr-only">Open main menu</span>
                    <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        aria-hidden="true" data-slot="icon">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                </button>
            </div>
            <div class="hidden lg:flex lg:gap-x-12">
                <a href="/productos" class="text-sm/6 font-semibold text-gray-900">Productos</a>
                
            
                {%if request.user.is_authenticated%}
                    {%if request.user.is_superuser%}
                    <a href="/proveedores/" class="text-sm/6 font-semibold text-gray-900"> Proveedores</a>
                    <a href="/clientes/" class="text-sm/6 font-semibold text-gray-900">Clientes</a>
                    <a href="/productos/stock" class="text-sm/6 font-semibold text-gray-900">Stock</a>
                    <a href="/facturas/" class="text-sm/6 font-semibold text-gray-900">Ventas</a>
                    {%endif%}
                {%endif%}

            </div>
            <div class="hidden lg:flex lg:flex-1 lg:justify-end gap-4">
                {%if request.user.is_authenticated%}

                  

                    {% if factura_abierta_id %}
                        <a href="/facturas/{{factura_abierta_id}}" class="text-sm/6 font-semibold text-gray-900">
                            <i class="material-symbols-outlined">shopping_cart</i>
                        </a>
                    {% endif %}
                
                    <a href="/clientes/perfil" class="text-sm/6 font-semibold text-gray-900">{{ request.user.nombre }}
                        <span aria-hidden="true">&rarr;</span>
                    </a>

                {%endif%}
                {%if not request.user.is_authenticated%}
                <a href="/autenticarse" class="text-sm/6 font-semibold text-gray-900">Ingresar<span
                    aria-hidden="true">&rarr;</span></a>
                    {%endif%}

            </div>
        </nav>
     
    </header>