{%extends 'base/base.html'%}


{%block title%}Registrarse - Cliente{%endblock%}

{%block content%}

<div class="container mx-auto p-20">

    <h3 class="text-2xl font-semibold">Crear una cuenta nueva</h3>


    {%if errors.general%}
    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
        <span class="font-medium">Error!</span> {{  errors.general }}
    </div>
    {%endif%}

    <form action="/registrarse" method="POST">

        <div class="space-y-12 mt-10">
            {%csrf_token%}

            <div class="border-b border-gray-900/10 pb-12">
                <h2 class="text-base/7 font-semibold text-gray-900">Información personal</h2>
                <p class="mt-1 text-sm/6 text-gray-600">Complete todos los datos requeridos (*)</p>

                <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                    <div class="sm:col-span-2">
                        <label for="nombre" class="block text-sm/6 font-medium text-gray-900">Nombre
                            completo *</label>
                        <div class="mt-2">
                            <input type="text" name="nombre" id="nombre" autocomplete="given-name" required
                                class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                            {%if form.nombre.errors%}
                            <div class="text-red-500 text-sm ">{{form.nombre.errors}}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-span-4">
                        <label for="direccion" class="block text-sm/6 font-medium text-gray-900">direccion</label>
                        <div class="mt-2">
                            <input type="text" name="direccion" id="direccion" autocomplete="direccion"
                                class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                        </div>
                        {%if form.direccion.errors%}
                        <div class="text-red-500 text-sm">{{form.direccion.errors}}</div>
                        {% endif %}

                    </div>

                    <div class="sm:col-span-3">
                        <label for="documento" class="block text-sm/6 font-medium text-gray-900">Documento (RUC o
                            CI) *</label>
                        <div class="mt-2">
                            <input type="text" name="documento" id="documento" autocomplete="" required
                                class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                            {%if form.documento.errors%}
                            <div class="text-red-500 text-sm">{{form.documento.errors}}</div>
                            {% endif %}

                        </div>
                    </div>

                    <!-- <div class="sm:col-span-4">
                        <label for="email" class="block text-sm/6 font-medium text-gray-900">Correo electrónico</label>
                        <div class="mt-2">
                            <input id="email" name="email" type="email" autocomplete="email"
                                class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                            {%if form.email.errors%}   
                            <div class="text-red-500 text-sm">{{form.email.errors}}</div>
                            {% endif %}
                        </div>
                        
                    </div> -->

                    <div class="sm:col-span-3">
                        <label for="tipo_documento" class="block text-sm/6 font-medium text-gray-900">Tipo de
                            Documento *</label>
                        <div class="mt-2 grid grid-cols-1">
                            <select id="tipo_documento" name="tipo_documento" autocomplete="tipo_documento" required
                                class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                                <option value="ci">CI</option>
                                <option value="ruc">RUC</option>

                            </select>
                            <svg class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4"
                                viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
                                <path fill-rule="evenodd"
                                    d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z"
                                    clip-rule="evenodd" />
                            </svg>
                        </div>
                        {%if form.tipo_documento.errors%}
                        <div class="text-red-500 text-sm">{{form.tipo_documento.errors}}</div>
                        {% endif %}
                    </div>



                    <div class="sm:col-span-3 sm:col-start-1">
                        <label for="password" class="block text-sm/6 font-medium text-gray-900">Contraseña *</label>
                        <div class="mt-2">
                            <input type="password" name="password" id="password" autocomplete="password" required
                                class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                        </div>
                        {%if form.password.errors%}
                        <div class="text-red-500 text-sm">{{form.password.errors}}</div>
                        {% endif %}

                    </div>

                    <div class="sm:col-span-3">
                        <label for="re-password" class="block text-sm/6 font-medium text-gray-900">Repita la
                            Contraseña *</label>
                        <div class="mt-2">
                            <input type="password" name="re-password" id="re-password" autocomplete="re-password"
                                required
                                class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                        </div>
                    </div>


                </div>
            </div>


        </div>

        <div class="mt-6 flex items-center justify-end gap-x-6">
            <button type="button" class="text-sm/6 font-semibold text-gray-900">Cancelar</button>
            <button type="submit"
                class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Guardar</button>
        </div>
    </form>


</div>

{%endblock%}